{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta %}
<title>Edit Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col min-h-screen bg-cover bg-center" style="background-image: url('{% static 'images/edit-img.jpg' %}');">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h1 class="text-3xl font-bold text-center mb-8 text-[#1e6e52]">Edit Product</h1>
  
    <div class="bg-white bg-opacity-90 shadow-lg rounded-[25px] p-8">
      <form method="POST" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        
        {% for field in form %}
          <div class="flex flex-col">
            <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-gray-700">
              {{ field.label }}
            </label>
            <div class="w-full">
              {{ field|add_class:"appearance-none block w-full px-3 py-2 rounded-2xl border border-gray-300 placeholder-gray-500 text-white bg-black bg-opacity-30 focus:outline-none focus:ring-[#ffa452] focus:border-[#ffa452] sm:text-sm" }}  <!-- Apply custom styles -->
            </div>
            {% if field.help_text %}
              <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        
        <div class="flex justify-center mt-6">
          <button type="submit" class="bg-[#ffa452] text-white font-semibold px-6 py-3 rounded-2xl hover:bg-[#cc823f] transition duration-300 ease-in-out w-full">
            Edit Product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
